*.a
*.o
*.so
*.u
*.z
gpsp.gpe
tags
cscope.out
pandora/linux
tools/generate_cc_lut
JC4880P443C_I_W/
build/
managed_components/
frames_interp/
frames_jit/
tests/*_harness/test_gba*
bios/game.gba
bios/gba_bios.bin
diff*png
*.mp4
