CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../managed_components/espressif__esp_hosted/slave/partitions.esp32c6.csv"
CONFIG_ESP_HOST_DEV_BOARD_P4_C6_CORE=y
CONFIG_ESP_SDIO_HOST_INTERFACE=y
CONFIG_ESP_HOSTED_COPROCESSOR_APP_MAIN=y
CONFIG_ESP_HOSTED_ENABLE_PEER_DATA_TRANSFER=y